<html>
    <head>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/mr-pixel" type="text/css"/>    </head>
    <body>
    <div class="page-one-background">
    <a href="/game">Click to begin!</a>
    </div>
    </body>
</html>